.level-table{
    margin: 4rem auto;
    overflow-x: scroll;
    max-width: 1250px;
}

@media screen and (max-width: 768px) {
    .level-table {
        margin: 2rem;
    }
}

.level-table h1 {
    font-size: 3rem;
}

.level-table table {
    margin-top: 4rem;
    width: 100%;
    min-width: fit-content;
    border: 2px solid black;
    font-size: 1.4rem;
}

.level-table table thead {
    font-weight: bold;
}

.level-table table td {
    padding: 1rem;
    border: none;
    height: fit-content;
}