.guide-header {
    margin-top: 4rem;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}
.guide-container { 
    border: 2px solid grey;
    border-radius: 10px;
    width: 90vw;
    max-width: 1250px;
    margin: 4rem auto;
    padding: 2rem;
    font-size: 1.2rem;
    font-weight: bold;
}
.guide-pic {
    width: 90%;
    margin-top: 1rem;
    max-width: 750px;
}
.guide-container ol li {
    margin-left: 2rem;
    margin-bottom: 1rem;
}