.sub-navbar {
    padding-left: 1rem;
    margin-left: 2rem;
    margin-top: 2.5rem;
}
.is-active {
    background-color: lightgrey;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    border-radius: 0.3rem;
    margin-right: 0.6rem;
    transition: 0.25s;
    cursor: pointer;
}
.not-active {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    margin-right: 0.6rem;
    cursor: pointer;
}