.logout-button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    padding: 1rem;
    transition: 0.25s;
}
.logout-button:hover {
    opacity: 0.8;
}
.logout-button:active {
    opacity: 0.5;
}